<p>
    {{ badgeHtml(repository, 'resolution') }}
    {{ badgeHtml(repository, 'open') }}
</p>
<p>
    <a href="/project/{{ repository }}" class="btn btn-default">
        <i class="fa fa-search"></i>
        View the details
    </a>
</p>
