<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Is it maintained?{% endblock %}</title>

    <link rel="icon" href="/img/favicon.ico">

    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/theme.css" rel="stylesheet">

    <link href="/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="/vendor/jquery/dist/jquery.min.js"></script>

    {% endblock %}
</head>

<body id="page-top" class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#page-top">Is it maintained?</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#check">Check a project</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#metrics">Metrics</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#about">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/mnapoli/Maintained">
                            <i class="fa fa-github"></i> GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    {% block content %}{% endblock %}


    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Released under the MIT license
                        -
                        <a href="http://mnapoli.fr">Matthieu Napoli</a>
                        -
                        <a href="https://github.com/mnapoli/Maintained">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                        -
                        Theme by <a href="http://startbootstrap.com/template-overviews/freelancer/">
                            Start Bootstrap
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/search.js"></script>
</body>

</html>