{% extends 'layout.twig' %}

{% block content %}

    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The application is under maintenance!</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <p>
                        <i class="fa fa-5x fa-cogs"></i>
                    </p>

                    <p class="alert alert-danger">
                        Please come back in a few minutes, the website is being
                        upgraded :)
                    </p>

                </div>
            </div>

        </div>
    </section>

{% endblock %}