{% extends 'layout.twig' %}

{% block content %}

    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ repository }}</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <p>
                        Resolution time: <strong>{{ resolutionTime.formatLong() }}</strong>
                    </p>

                </div>
            </div>

        </div>
    </section>

{% endblock %}